:root {
  /* Primary Colors */
  --primary: #00de8d;
  --secondary: rgba(8, 67, 47, 0.45);
  --back-ground: #020e0a;
  --card-background: rgba(255, 255, 255, 0.02);

  /* Button Style*/
  --btn-bg: rgba(255, 255, 255, 0.02);
  --border-btn: 1px solid rgba(0, 222, 141, 0.75);

  /* Font Colors */
  --simple-title: #ecf1f0;
  --sub-title: #b6b6b6;
}
